<header id="masthead">
  
 
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->

    <div class="jumbotron text-center">
  <h1 class="display-4">Visit my new site</h1>
  <p class="lead"><a href="https://retronic.us/">RETRONIC - a new site about electronics, retro computing, hobby making, FPGAs, ...</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://retronic.us/" role="button">Visit Retronic</a>
  </p>
</div>
